/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  transition: background-color 0.3s ease, color 0.3s ease; 
  overflow-x: hidden;
}

/* Light Mode for Body */
.profileWrap.light {
  background-color: #f4f4f9;
  color: #121212;
}

/* Dark Mode for Body */
.profileWrap.dark {
  background-color: #333;
  color: #fff;
}
